.home-inner {
  background-image: url(../../img/computers.png);
  background-size: contain;
}

.caption h1 {
  font-size: 2 rem;
  font-weight: bold;
  color: white;
}

.caption {
  width: 100%;
  top: 40%;
  color: var(--color);
  z-index: 1;
}

#course {
  background-color: var(--background-color-btn-second);
  color: var(--color);
}
