.intro {
  display: flex;
  height: 100vh;
}

.intro-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-right {
  flex: 1;
  position: relative;
}

.intro-left-wrapper {
  padding: 50px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-intro {
  font-size: 30px;
  font-weight: 300;
}

.intro-name {
  font-size: 60px;
}

.intro-title {
  height: 50px;
  overflow: hidden;
}

.intro-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #e65300;
  display: flex;
  align-items: center;
}

.intro-title-wrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.intro-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.intro-bg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-image: url("../../img/code.gif");
  background-size: 900px 600px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.intro-scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.intro-scroll:hover {
  stroke: red;
  stroke-width: 3px;
  fill: rgba(230, 84, 0, 0.58);
}
